
mainmenu "Workspace cargo-kconfig example"

config FOO
	bool "Enable foo feature"
	default y

config BUFFER_SIZE
	int "Buffer size in bytes"
	range 1 4096
	default 128
	depends on FOO

config BOARD_NAME
	string "Board name"
	default "qemu"

config BUS
	bool "Peripheral bus"
	default n

config UART
	bool "UART driver"
	depends on BUS
	default n
