CONFIG_BOARD_QEMU=y
CONFIG_LOGGING=y
CONFIG_LOG_LEVEL=5
CONFIG_NETWORK=y
CONFIG_NET_DRIVER=y
CONFIG_TCP=y
CONFIG_UDP=y
CONFIG_TLS=y
CONFIG_NET_BUFFER=4096
CONFIG_DHCP=y
CONFIG_MDNS=y
CONFIG_SPI=y
CONFIG_SENSOR=y
CONFIG_FLASH_BASE=0x8000000
